body{
background:#ffd6e0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Arial;
flex-direction:column;
}

.envelope{
position:relative;
width:260px;
height:180px;
background:#ff8fa3;
cursor:pointer;
border-radius:5px;
display:flex;
justify-content:center;
align-items:center;
transition:transform 0.3s;
}

.envelope:hover{
transform:scale(1.05);
}

.envelope:before{
content:"";
position:absolute;
top:-90px;
border-left:130px solid transparent;
border-right:130px solid transparent;
border-bottom:90px solid #ff8fa3;
}

.heart{
font-size:40px;
}

.letter{
position:absolute;
width:320px;
background:white;
padding:25px;
border-radius:10px;
text-align:center;
top:220px;
opacity:0;
transform:translateY(40px);
transition:all 0.6s ease;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.show{
opacity:1;
transform:translateY(0);
}

.proceed{
margin-top:15px;
padding:10px 20px;
background:#ff4d6d;
border:none;
color:white;
border-radius:20px;
cursor:pointer;
font-size:16px;
}

.menu{
margin-top:30px;
display:none;
flex-direction:column;
gap:10px;
}

.menu button{
padding:12px 25px;
border:none;
border-radius:20px;
background:white;
cursor:pointer;
font-size:16px;
}

h2{
color:#ff4d6d;
}

.letter{
opacity:0;
transform:translateY(40px);
}

.show{
opacity:1;
transform:translateY(0);
}
